body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.itemsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.allLess{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #7B3C0D;
}

.itemCard {
  text-align: center;
  width: 300px;
  padding: 10px;
  margin: 25px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(37, 13, 2, 0.815);
  color: #7B3C0D;
}

.itemCard img {
  width: 250px;
  height: 250px;
  margin-top: 10px;
}

.userIcon{
  align-items: center;
  display: flex;
  float:right;
  justify-content: center;
  background: #f5f5dc;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-weight: 600;
  font-size: 150%;
  margin-right: 20%;
}

header{
  background-color: #7B3C0D
}

.gridContainer {
  display: grid;
  grid-template-columns: 13fr 1fr 1fr;
  grid-template-rows: 1f;
  padding: 10px;
}

.cartIcon{
  align-items: center;
  display: flex;
  float:right;
  justify-content: center;
  font-size: 150%;
  font-weight: 600;
}
