body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: beige;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*Main Page*/
.itemsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.allLess{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #7B3C0D;
}
.itemCard {
  text-align: center;
  width: 300px;
  padding: 10px;
  margin: 25px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(37, 13, 2, 0.815);
  color: #7B3C0D;
}
.itemCard img {
  width: 250px;
  height: 250px;
  margin-top: 10px;
  
}
.userIcon{
  align-items: center;
  display: flex;
  float:right;
  justify-content: center;
  background: #f5f5dc;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  font-weight: 600;
  font-size: 150%;
  margin-right: 20%;
}
/*Header*/
header{
  background-color: #7B3C0D
}
.gridContainer {
  display: grid;
  grid-template-columns: 13fr 1fr 1fr;
  grid-template-rows: 1f;
  padding: 10px;
}
.cartIcon{
  align-items: center;
  display: flex;
  float:right;
  justify-content: center;
  font-size: 150%;
  font-weight: 600;
}
.homeIcon{
  align-items: center;
  display: flex;
  float:left;
  justify-content: center;
  font-size: 150%;
  font-weight: 600;
  margin-left: 20px;
}
.itemTitle{
  color:#7B3C0D;
}
/*itemDescription Page*/
.gridConteinerID{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1f;
  margin:10%;
}
.imgContainer{
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
  float:left;
  box-shadow: 0px 0px 5px rgba(37, 13, 2, 0.815);
}
.imgContainer img{
  width: 500px;
  height: 500px;
}
.infoContainer{
  margin-left: 50px; 
  color:#7B3C0D;
}
/*cart Page*/
.gridContainerL{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1f;
}
.total{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1f;
}
.cartList{
  color:#7B3C0D;
  margin: 1%;
}
hr{
  height: 1px;
  width: 100%;
  background-color: black;
}